body {
background-color: #edeef0;
padding: 0;
margin: 0;
display: block;
}
.header{
background-color: rgb(200,10,50);
width: 100%;
display: inline-block;


}
.navigation{
display: inline-block;

}
li {
list-style-type: none;
margin-left: 5px;
display: inline;
float: left;
font-size: 30px;
padding-left: 350px;
margin: 15px;
}
